 * {
     background-image: url(https://www.cartedelareunion.fr/wp-content/uploads/2017/08/Ile-de-La-Reunion-vue-aerienne-cartedelareunion.fr-%C2%A9-Serge-Gelabert.jpg);
     background-position: center;
     background-size: 100%;
 }
 
 html,
 body {
     height: 100%;
     font-size: 100%;
     font-family: "Roboto", sans-serif;
     line-height: 1.4;
     background: cornsilk;
 }
 
 a {
     text-decoration: none;
     transition: all .2s linear;
 }
 
 header {
     display: flex;
     justify-content: center;
     flex-direction: column;
     margin-left: auto;
     margin-right: auto;
     padding: 2%;
 }
 
 .Paragraphe {
     display: flex;
     flex-wrap: wrap;
     padding: 2%;
 }
 
 figure {
     box-sizing: border-box;
 }
 
 hr {
     margin: auto;
 }
 
 main {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     opacity: initial;
     ;
 }
 
 .colon2 {
     display: flex;
     flex-direction: column;
     color: darkgray;
     background: darkgray;
 }
 
 .colon1 {
     display: flex;
     flex-direction: column;
     color: darkgray;
     background: darkgray;
 }